body {
  font-family: Helvetica;
  background-color: rgb(245, 245, 245);
  color: rgb(11, 11, 11);
  display: inline-flex;
}

header {
  writing-mode: vertical-lr;
}

img {
  image-rendering: crisp-edges;
  width: 825px;
  height: 825px;
  padding: 25px;
  position: relative;
  margin-left: 1px;
}

/* =============================== */
/* global heading values */

h1 {
  font-size: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0px;
  padding-inline-start: 10px;
  padding-block-start: 0px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 80px;
  text-orientation: upright;
  letter-spacing: -30px;
  margin-left: -70px;
  margin-right: -20px;
  padding-inline-start: 325px;
  padding-right: 10px;

}

h3 {
  font-family: 'Open Sans', sans-serif;
  background-color: #FBFBFB;
  font-size: 22;
  display: inline-flex;
  padding-top: 0px;
  padding-right: 45px;
  padding-left: 10px;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
  
}

/* =============================== */

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: rgb(240, 240, 240);
  font-size: 16;
  text-align: right;
}

ul {
  list-style: none;
}

p ~ ul {
  font-weight: 500;;
  margin-left: -5px;
  padding-right: 5px;

}

/* ========== Section1 BIO =========== */

.section1 {
  margin-left: -15px;
}

#bio {
  padding: 35px;
  margin: 5px;
  margin-top: 30px;
  margin-left: 45px;
}

.section1 p {
  padding: 10px;
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 100px;
  width: 155px;
  text-align: left;

}

/* ========== Section2 EDU =========== */

#education {
  padding: 35px;
  margin: 10px;
  margin-top: 85px;
}

.section2 {
  margin-bottom: 10px;
}

.section2 li  {
  margin-bottom: 25px;
  margin-right: 10px;
}

.section2 p {
  width: 100px;
  height: 100px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}


/* ========== Section3 EXP =========== */

#experience {
  padding: 35px;
  margin: 10px;
  margin-top: 150px;
}

.section3 li {
  margin-bottom: 5px;
  font-weight: 800;
  text-align: right;
}

.section3 p {
  padding: 10px;  
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* ========== Section4 FUT =========== */

#future {
  padding: 35px;
  margin: 10px;
}

.section4 {
  margin-top: 35px;
  margin-right: -10px;
}

.section4 p {
  padding: 15px;
  padding-right: 15px;;
}

/* ========== Section5 FILMS =========== */

.section5 {
  margin-top: 385px;
  margin-left: -125px;
}

.section5 li {
  margin-bottom: 7.5px;
}

/* =============================== */

footer ul {
  display: flex;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-left: -15px;
}

.button {
  width: 25px;
  height: 50px;
  text-align: inherit;
}
