body {
  font-family: Helvetica;
  background-color: rgb(245, 245, 245);
  color: rgb(11, 11, 11);
  display: inline-flex;
}


header {
  writing-mode: vertical-lr;
}

img {
  image-rendering: crisp-edges;
  width: 850px;
  height: 850px;
  padding: 25px;
  position: relative;
  margin-left: 5px;
}

h1 {
  font-size: 90px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 0px;
  padding-inline-start: 10px;
  padding-block-start: 0px;
}

h2 {
  font-size: 70px;
  font-weight: 800;
  text-orientation: upright;
  letter-spacing: -20px;
  margin: 0px;
  padding-inline-start: 275px;
}

h3 {
  background-color: #FBFBFB;
  font-size: 24;
  display: inline-flex;
  padding-right: 75px;
  
}

p {
  background-color: rgb(240, 240, 240);
  font-size: 16;
  padding-top: 150px;
  padding-right: 10px;
  text-align: right;
}

ul {
  background-color: rgb(243, 240, 240);
}